{% extends 'admin/home.html' %}

{% block contentAdmin %}
    
    <div class="row p-3">
        <div class="col-3">
            <div class="row">
                <div class="col mb-3">
                    <div class="card bg-green border-0 shadow">
                        <div class="card-body">
                            <div class="card-title small">
                                vuelos registrados
                            </div>
                            <div class="card-text">
                                3243435.3
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="card bg-green border-0 shadow">
                        <div class="card-body">
                            <div class="card-title small">
                                usuarios registrados
                            </div>
                            <div class="card-text">
                                3243435.3
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 ">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-text">
                        <p>grafico bien suculento r</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-body">
                    <p>tabla de usuarios recientes</p>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}