{% extends 'layout/main.html' %}

{% block content %}
<!-- Login-->
<section class="page-section" id="login">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                  <!-- Usuario input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="usuario" type="text" placeholder="Usuario"
                          data-sb-validations="required" />
                      <label for="usuario">Usuario</label>
                      <div class="invalid-feedback" data-sb-feedback="usuario:required">Usuario is required.</div>
                  </div>
                  <!-- Password input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="password" type="password" placeholder="Password"
                          data-sb-validations="required"></input>
                      <label for="password">Password</label>
                      <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
                  </div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">Ingreso Correcto</div>
                          <br />
                      </div>
                  </div>
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <div class="d-none" id="submitErrorMessage">
                      <div class="text-center text-danger mb-3">Error al Ingresar</div>
                  </div>
                  <!-- Submit Button-->
                  <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit"
                      onsubmit="validarLogin()">Ingreso</button>
              </form>
          </div>
      </div>
  </div>
</section>


{% endblock %}