{% extends 'layout/main.html' %}

{% block content %}
<!-- Login-->
<section class="page-section" id="login">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Iniciar sesión</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
             
              <form action="/login" method="POST" id="contactForm" data-sb-form-api-token="API_TOKEN">
                  <!-- Usuario input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="correo" type="text" placeholder="Usuario"
                          data-sb-validations="required" name="correo"/>
                      <label for="usuario">Nombre de usuario</label>
                      <div class="invalid-feedback" data-sb-feedback="correo:required">Correo requerido</div>
                  </div>
                  <!-- Password input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="password" type="password" placeholder="Contraseña"
                          data-sb-validations="required"></input>
                      <label for="password">Contraseña</label>
                      <div class="invalid-feedback" data-sb-feedback="password:required">Contraseña requerida</div>
                  </div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">Ingreso Correcto</div>
                          <br />
                      </div>
                  </div>
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <div class="d-none" id="submitErrorMessage">
                      <div class="text-center text-danger mb-3">Error al Ingresar</div>
                  </div>
                  <!-- Submit Button-->
                  <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Ingresar</button>
              </form>
          </div>
      </div>
  </div>
</section>


{% endblock %}