{% extends 'layout/main.html' %}

{% block content %}

<section class="page-section" id="registro">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registro de usuario</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form action="/createUser" id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nombres" type="text" placeholder="Ingresa tu nombre"
                            data-sb-validations="required" name="nombres" />
                        <label for="name">Nombres</label>
                        <div class="invalid-feedback" data-sb-feedback="nombres:required">Nombre requerido</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="apellidos" type="text" placeholder="Ingresa tu apellido"
                            data-sb-validations="required" name="apellidos" />
                        <label for="name">Apellidos</label>
                        <div class="invalid-feedback" data-sb-feedback="apellidos:required">Apellido requerido</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nacimiento" type="date" data-sb-validations="required"
                            name="nacimiento" />
                        <label for="name">Fecha de nacimiento</label>
                        <div class="invalid-feedback" data-sb-feedback="nacimiento:required">Fecha nacimiento requerida
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="documento" type="number" placeholder="documento"
                            data-sb-validations="required" name="documento" />
                        <label for="name">Numero de documento</label>
                        <div class="invalid-feedback" data-sb-feedback="documento:required">Numero documento requerido
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="telefono" type="number" placeholder="ej: 234324234"
                            data-sb-validations="required" name="telefono" />
                        <label for="name">Telefono</label>
                        <div class="invalid-feedback" data-sb-feedback="telefono:required">Telefono requerido</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                            data-sb-validations="required" name="correo" />
                        <label for="email">Correo electronico</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">correo requerido</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Correo no valido.</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="contraseña" type="password" placeholder="Crear contraseña"
                            data-sb-validations="required" name="contraseña" />
                        <label for="name">Contraseña</label>
                        <div class="invalid-feedback" data-sb-feedback="contraseña:required">contraseña requerida</div>
                    </div>

                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Regristrar</button>
                </form>
            </div>
        </div>

       
    </div>
</section>


{% endblock %}